.secaoParticipantes {
    margin-top: 7%;
    align-items: center;
    text-align: center;
}

.primeiraLinha,
.segundaLinha,
.terceiraLinha,
.quartaLinha {
    display: flex;
    gap: 8rem;
    justify-content: center;
}

.cardsParticipantes img {
    width: 400px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
    transition: 0.3s;
}

.cardsParticipantes img:hover{
    transform: scale(1.06);
}